.header {
  padding: var(--mantine-spacing-md) 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10;

  border-bottom: 1px solid rgba(150, 150, 150, 0.3);
}

.fixedHeader {
  position: fixed;
  top: 0;
  width: 100vw;
  backdrop-filter: blur(8px);
  padding: var(--mantine-spacing-md) 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);

  z-index: 999;
}
