.root {
  position: relative;
  display: block;
  height: 200px;
  margin-top: 16px;
}

.eventcard {
  position: absolute;
  top: 0;
  right: 0;
  transition: 0.2s ease-in-out;
  cursor: pointer;

  &:hover {
    top: -10px;
  }
}

.eventcard:nth-child(0) {
  right: 0;
  z-index: 3;
}

.eventcard:nth-child(1) {
  right: -30px;
  transform: rotate(4deg);
  z-index: 2;
}

.eventcard:nth-child(2) {
  right: -60px;
  transform: rotate(-4deg);
  z-index: 1;
}

.root:hover {
  .eventcard:nth-child(3) {
    right: 100px;

    @media (max-width: 768px) {
      right: 100px;
    }
  }

  .eventcard:nth-child(1) {
    right: 250px;

    @media (max-width: 768px) {
      right: 200px;
    }
  }
}
