.root {
  position: relative;
}

.slider {
  position: absolute;

  top: 60%;
  left: 0;
  width: 200vw;
  overflow: hidden;
}

.slidertrack {
  display: block;
  width: 200vw;
}

.slide {
  display: inline-flex;
  width: 10vw;
}
