.root {
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

/* Media */

.media_background {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 0;
    background-size: cover;
    background-position: center center;
    filter: brightness(0.8);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-filter: brightness(.3)
}

/* Glass Styles */

.glass_frame_container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
}

.glass_frame_top {
    position: absolute;
    bottom: 55%;
    left: 0;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: rotate(180deg);
}

.glass_frame_bot {
    position: absolute;
    top: 55%;
    left: 0;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.dynamic_circle {
    position: absolute;
    display: block;
    height: 700px;
    width: 500px;
    top: calc(50% - 350px);
    left: calc(50% - 250px);

    border-radius: 999px;
    border: 2px solid rgba(255, 255, 255, 0.5);
    z-index: 1;
    opacity: 0.5;
}

/* Leaf Overlay */

.leaf_overlay {
    position: absolute;
    top: 0;
    right: 5rem;
    z-index: 2;
    transform: rotate(80deg);
}

/* Playreel */

.playreel {

    transition: .2s ease-in-out;

    &:hover {
        transform: scale(1.3)
    }
}